/* Text colors
===================================================================================================================== */
body, html, .qt-nclinks a {
  color: rgba(255, 255, 255, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(255, 255, 255, 0.93);
}

.qt-part-archive-item.qt-open .qt-headings .qt-tags a, .qt-link-sec, .qt-caption-small::after, .qt-content-aside a, .tabs .tab a {
  color: #ff0d51;
}

.tabs .tab a:hover {
  color: #c60038;
}

.tagcloud a, .qt-content-aside .tagcloud a:hover {
  color: #fff;
}

/* Background colors 
===================================================================================================================== */
body, html, .qt-main {
  background-color: #444;
}

.qt-paper {
  background-color: #131617;
}

.qt-content-primary-light {
  background-color: #343434;
}

.qt-content-primary {
  background-color: #222;
}

.qt-content-primary-dark {
  background-color: #010101;
}

.qt-content-accent, .qt-menubar ul.qt-desktopmenu li li::after {
  background-color: #00ced0;
}

.qt-content-secondary, .qt-material-slider .indicator-item.active, .tabs .indicator {
  background-color: #ff0d51;
}

.qt-tags a, .tagcloud a {
  background-color: #ff0d51;
}

.qt-part-archive-item.qt-open .qt-headings, .qt-btn-secondary, .qt-sectiontitle::after, h2.widgettitle::after {
  background-color: #ff0d51;
}

.qt-btn-primary, .qt-menubar ul.qt-desktopmenu > li.qt-menuitem > a::after, .qt-footer-widgets .qt-widget-title span::after, input[type="submit"] {
  background-color: #00ced0;
}

/* Desktop hover states colors
===================================================================================================================== */
@media only screen and (min-width: 1201px) {
  a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #00fcff;
  }
  .qt-content-aside a:hover {
    color: #c60038;
  }
  .qt-btn-primary:hover, input[type="submit"]:hover {
    background-color: #00fcff;
    color: #fff;
  }
  .qt-btn-secondary:hover, .qt-mplayer:hover .qt-mplayer__play:hover, .qt-mplayer__volume:hover, .qt-mplayer__cart:hover, .qt-mplayer__seeker:hover, .qt-mplayer__prev:hover, .qt-mplayer__next:hover, .qt-mplayer__playlistbtn:hover, .qt-content-aside .tagcloud a:hover {
    background-color: #c60038;
    color: #fff;
  }
}
/*# sourceMappingURL=qt-colors.css.map */