/* Libraries and vars
 ================================================================*/
/**================================================================
 * Desktop Styles
 ================================================================*/
@media only screen and (min-width: 1201px) {
  /*  GENERAL */
  .qt-spacer-xl {
    padding-top: 10rem; }
  .qt-spacer-l {
    padding-top: 6rem; }
  .qt-spacer-m {
    padding-top: 2.8rem; }
  .qt-spacer-s {
    padding-top: rem; }
  .qt-vertical-padding-l {
    padding: 6.25rem 0 5rem 0; }
  .qt-vertical-padding-m {
    padding: 2.8rem 0 2rem 0; }
  .qt-vertical-padding-s {
    padding: 1.4rem 0; }
  .valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  /*  TITLES */
  h1, h2, h3, h4, h5, h6, .qt-fontsize-h1, .qt-fontsize-h2, .qt-fontsize-h3, .qt-fontsize-h4, .qt-fontsize-h5, .qt-fontsize-h6 {
    line-height: 1.2; }
  h6, .qt-fontsize-h6 {
    font-size: 13px; }
  h5, .qt-fontsize-h5 {
    font-size: 16px; }
  h4, .qt-fontsize-h4 {
    font-size: 1.414rem; }
  h3, .qt-fontsize-h3, h2.widgettitle {
    font-size: 2rem; }
  h2, .qt-fontsize-h2 {
    font-size: 2.827rem; }
  h1, .qt-fontsize-h1 {
    font-size: 4rem; }
  .qt-fontsize-h0 {
    font-size: 5.2rem; }
  .qt-title {
    line-height: 1em; }
  .qt-container {
    max-width: 1170px; }
  .qt-container-l {
    max-width: 100%;
    padding: 0 20px; }
  .qt-part-archive-item.qt-interactivecard h6, .qt-part-archive-item.qt-interactivecard .qt-fontsize-h6 {
    font-size: 0.8rem; }
  .qt-part-archive-item.qt-interactivecard h5, .qt-part-archive-item.qt-interactivecard .qt-fontsize-h5 {
    font-size: 1rem; }
  .qt-part-archive-item.qt-interactivecard h4, .qt-part-archive-item.qt-interactivecard .qt-fontsize-h4 {
    font-size: 1.125rem; }
  .qt-part-archive-item.qt-interactivecard h3, .qt-part-archive-item.qt-interactivecard .qt-fontsize-h3 {
    font-size: 1.375rem; }
  .qt-part-archive-item.qt-interactivecard h2, .qt-part-archive-item.qt-interactivecard .qt-fontsize-h2 {
    font-size: 1.625rem; }
  .qt-part-archive-item.qt-interactivecard h1, .qt-part-archive-item.qt-interactivecard .qt-fontsize-h1 {
    font-size: 2rem; }
  .qt-part-archive-item.qt-release-featured {
    margin-top: 1rem; }
    .qt-part-archive-item.qt-release-featured img {
      line-height: 0;
      margin: 0;
      display: block; }
    .qt-part-archive-item.qt-release-featured h4 {
      margin-top: 0; }
    .qt-part-archive-item.qt-release-featured .qt-scrl {
      padding: 1.4rem 0;
      height: 366px;
      font-size: 13px;
      line-height: 1.7em;
      padding: 1.4rem 1.4rem 0 0; }
    .qt-part-archive-item.qt-release-featured .qt-plscr {
      max-height: 366px;
      overflow-y: scroll;
      padding: 0 1.4rem 0 0; }
  .qt-part-archive-item.qt-grid-item-split .col.qt-cont {
    padding: 0 .75rem; }
    .qt-part-archive-item.qt-grid-item-split .col.qt-cont.m12 {
      padding: 0 2rem 1rem 2rem; }
  .qt-part-archive-item.qt-part-archive-item-large.qt-hovertitles {
    position: relative; }
    .qt-part-archive-item.qt-part-archive-item-large.qt-hovertitles .qt-thumbnail {
      position: relative;
      z-index: 1; }
    .qt-part-archive-item.qt-part-archive-item-large.qt-hovertitles .qt-contents {
      z-index: 2;
      z-index: 2;
      overflow: visible; }
      .qt-part-archive-item.qt-part-archive-item-large.qt-hovertitles .qt-contents .qt-headings {
        position: absolute;
        top: 40px;
        z-index: 3;
        max-width: 90%; }
        .qt-part-archive-item.qt-part-archive-item-large.qt-hovertitles .qt-contents .qt-headings .qt-tit {
          line-height: 1.3em;
          margin: 10px 0 15px 0; }
          .qt-part-archive-item.qt-part-archive-item-large.qt-hovertitles .qt-contents .qt-headings .qt-tit a {
            display: inline;
            position: relative;
            padding: 5px 14px 5px 14px;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
            background: #fff;
            color: rgba(0, 0, 0, 0.93);
            border-radius: 4px; }
        .qt-part-archive-item.qt-part-archive-item-large.qt-hovertitles .qt-contents .qt-headings .qt-item-metas {
          color: #fff;
          opacity: 1; }
  .qt-part-archive-item:not(.qt-open) {
    /* ======================== HOVER STATE ======================== */ }
    .qt-part-archive-item:not(.qt-open):hover.qt-post:not(.qt-open) .qt-iteminner .qt-imagelink {
      height: 50%; }
    .qt-part-archive-item:not(.qt-open):hover.qt-release .qt-imagelink, .qt-part-archive-item:not(.qt-open):hover.qt-podcast .qt-imagelink {
      padding-top: 80%; }
    .qt-part-archive-item:not(.qt-open):hover.qt-artist .qt-imagelink {
      padding-top: 83%; }
    .qt-part-archive-item:not(.qt-open):hover.qt-event .qt-imagelink {
      height: 62%; }
  /* Content
	========================================================================== */
  .qt-the-content {
    font-size: 18px;
    line-height: 1.9em; }
  /* Author section
   ========================================================================== */
  .qt-the-content .qt-post-author {
    width: 100%; }
    .qt-the-content .qt-post-author .qt-post-author-link {
      padding-top: 0;
      margin-top: 20px; }
    .qt-the-content .qt-post-author a.qt-author-thumbnail {
      margin: 0;
      display: inline-block;
      float: left; }
    .qt-the-content .qt-post-author .qt-post-author-data {
      display: inline-block;
      float: left;
      width: calc(100% - 120px);
      padding-left: 1rem; }
  .qt-caption {
    padding-top: 1rem;
    margin: 0 0 20px 0; }
  .qt-paddedcontent {
    padding: 40px; }
  .qt-widget {
    margin-bottom: 1.4rem; }
  .qt-main-contents .qt-pageheader {
    height: calc(100% - 200px);
    height: calc(100vh - 200px);
    min-height: auto;
    text-align: center;
    display: table;
    width: 100%;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding: 10px 0 180px 0;
    -webkit-transition: height 0.4s, padding 0.4s ease;
    transition: height 0.4s, padding 0.4s ease;
    will-change: height, padding; }
    .qt-main-contents .qt-pageheader__in {
      display: table-cell;
      vertical-align: middle;
      will-change: padding;
      -webkit-transition: padding 0.2s ease;
      transition: padding 0.2s ease;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
    .qt-main-contents .qt-pageheader .qt-item-metas {
      text-align: center; }
    .qt-main-contents .qt-pageheader .qt-caption {
      margin-bottom: 10px; }
      .qt-main-contents .qt-pageheader .qt-caption img {
        max-width: 700px;
        max-height: 700px;
        height: auto; }
  .qt-main-contents > .vc_row {
    margin: 0; }
  .qt-intro .qt-intro__fx .qt-tags, .qt-intro .qt-intro__fx .qt-caption, .qt-intro .qt-intro__fx .qt-item-metas, .qt-intro .qt-intro__fx .qt-capseparator, .qt-intro .qt-intro__fx .qt-featuredimage, .qt-intro .qt-intro__fx .qt-release-actions, .qt-intro .qt-intro__fx .qt-playlist, .qt-intro .qt-intro__fx .qt-event-actions, .qt-intro .qt-intro__fx .qt-countdown {
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s; }
  .qt-intro .qt-intro__fx .qt-featuredimage {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s; }
  .qt-intro .qt-intro__fx .qt-tags {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s; }
  .qt-intro .qt-intro__fx .qt-countdown {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s; }
  .qt-intro .qt-intro__fx .qt-caption {
    -webkit-transition-delay: 1.1s;
            transition-delay: 1.1s; }
  .qt-intro .qt-intro__fx .qt-item-metas {
    -webkit-transition-delay: 1.3s;
            transition-delay: 1.3s; }
  .qt-intro .qt-intro__fx .qt-capseparator {
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s; }
  .qt-intro .qt-intro__fx .qt-release-actions, .qt-intro .qt-intro__fx .qt-playlist, .qt-intro .qt-intro__fx .qt-event-actions {
    -webkit-transition-delay: 1.7s;
            transition-delay: 1.7s; }
  .qt-intro .qt-intro__fx.active .qt-countdown, .qt-intro .qt-intro__fx.active .qt-tags, .qt-intro .qt-intro__fx.active .qt-caption, .qt-intro .qt-intro__fx.active .qt-item-metas, .qt-intro .qt-intro__fx.active .qt-capseparator, .qt-intro .qt-intro__fx.active .qt-featuredimage, .qt-intro .qt-intro__fx.active .qt-release-actions, .qt-intro .qt-intro__fx.active .qt-playlist, .qt-intro .qt-intro__fx.active .qt-event-actions {
    opacity: 1; }
  .qt-intro .qt-pageheader.skrollable-after {
    height: 40%;
    height: 40vh;
    padding: 10px 0 40px 0; }
    .qt-intro .qt-pageheader.skrollable-after__in {
      padding: 60px 0; }
  /* Special templates
	========================================================================== */
  .qt-single-release .qt-main-contents .qt-pageheader {
    text-align: left; }
    .qt-single-release .qt-main-contents .qt-pageheader .qt-item-metas {
      text-align: left; }
    .qt-single-release .qt-main-contents .qt-pageheader .qt-capseparator {
      margin-bottom: 10px; }
  .qt-single-podcast .qt-main-contents .qt-pageheader {
    text-align: left; }
    .qt-single-podcast .qt-main-contents .qt-pageheader .qt-item-metas {
      text-align: left; }
    .qt-single-podcast .qt-main-contents .qt-pageheader .qt-capseparator {
      margin-bottom: 6px; }
  /* Menu desktop
	========================================================================== */
  .qt-menubar {
    height: auto;
    line-height: 65px;
    box-shadow: none;
    position: fixed;
    z-index: 301;
    /* Menu bar top  ============================*/ }
    .qt-menubar .qt-menubg-color {
      display: block;
      content: " ";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
      will-change: opacity; }
    .qt-menubar .brand-logo {
      position: relative;
      left: 0; }
    .qt-menubar ul.qt-desktopmenu {
      text-align: right;
      min-height: 65px;
      line-height: 65px;
      padding: 0 20px;
      z-index: 100;
      position: relative;
      -webkit-transition: background 0.15s;
      transition: background 0.15s;
      will-change: background; }
      .qt-menubar ul.qt-desktopmenu .qt-morphbtn {
        padding-right: 0;
        padding-top: 0; }
      .qt-menubar ul.qt-desktopmenu .qt-logo-text {
        font-size: 45.248px;
        line-height: 2.828rem;
        padding: 0; }
        .qt-menubar ul.qt-desktopmenu .qt-logo-text img {
          margin: 0;
          float: left; }
      .qt-menubar ul.qt-desktopmenu > li {
        line-height: 65px;
        height: 65px;
        display: inline-block;
        position: relative;
        padding: 0;
        float: none;
        z-index: 10; }
        .qt-menubar ul.qt-desktopmenu > li.qt-logo-link {
          float: left;
          padding-left: 0;
          padding-right: 0; }
          .qt-menubar ul.qt-desktopmenu > li.qt-logo-link a {
            font-size: 2.4rem;
            padding-left: 0;
            padding-right: 0; }
        .qt-menubar ul.qt-desktopmenu > li.qt-social-linkicon a {
          padding: 0 0 0 8px; }
          .qt-menubar ul.qt-desktopmenu > li.qt-social-linkicon a i {
            font-size: 28px;
            vertical-align: middle;
            display: inline;
            margin: 0;
            padding: 0; }
        .qt-menubar ul.qt-desktopmenu > li > a {
          line-height: 65px;
          height: 65px;
          position: relative;
          display: block; }
          .qt-menubar ul.qt-desktopmenu > li > a:hover {
            background: transparent; }
        .qt-menubar ul.qt-desktopmenu > li ul {
          background: #212121; }
        .qt-menubar ul.qt-desktopmenu > li.qt-menuitem {
          padding-right: 5px; }
          .qt-menubar ul.qt-desktopmenu > li.qt-menuitem > a {
            padding: 0 5px 0 1px;
            margin-left: 1rem; }
            .qt-menubar ul.qt-desktopmenu > li.qt-menuitem > a::after {
              display: block;
              width: 5px;
              height: 5px;
              background: #000;
              border: none;
              position: absolute;
              right: -3px;
              top: 34px;
              z-index: -1;
              content: " ";
              -webkit-transition: width 0.2s ease-out;
              transition: width 0.2s ease-out; }
            .qt-menubar ul.qt-desktopmenu > li.qt-menuitem > a:hover {
              color: #fff; }
              .qt-menubar ul.qt-desktopmenu > li.qt-menuitem > a:hover::after {
                width: calc(100% + (8px)); }
          .qt-menubar ul.qt-desktopmenu > li.qt-menuitem.wpmenucartli.wpmenucart-display-standard {
            height: 33px; }
            .qt-menubar ul.qt-desktopmenu > li.qt-menuitem.wpmenucartli.wpmenucart-display-standard a {
              border: 2px solid;
              border-radius: 20px;
              line-height: 33px;
              height: 33px;
              padding: 0 10px 0 10px;
              box-sizing: content-box; }
              .qt-menubar ul.qt-desktopmenu > li.qt-menuitem.wpmenucartli.wpmenucart-display-standard a i {
                line-height: inherit; }
              .qt-menubar ul.qt-desktopmenu > li.qt-menuitem.wpmenucartli.wpmenucart-display-standard a::after {
                display: none;
                top: 2px; }
        .qt-menubar ul.qt-desktopmenu > li > a.brand-logo {
          padding: 0; }
        .qt-menubar ul.qt-desktopmenu > li.qt-menubuttons {
          line-height: 1.414rem;
          padding: 1.414rem 1rem 0 0; }
        .qt-menubar ul.qt-desktopmenu > li.right::after, .qt-menubar ul.qt-desktopmenu > li.right::before, .qt-menubar ul.qt-desktopmenu > li.right > a::after, .qt-menubar ul.qt-desktopmenu > li.right > a::before, .qt-menubar ul.qt-desktopmenu > li .brand-logo::after, .qt-menubar ul.qt-desktopmenu > li .brand-logo::before, .qt-menubar ul.qt-desktopmenu > li.qt-logo-link::after, .qt-menubar ul.qt-desktopmenu > li.qt-logo-link::before {
          display: none; }
        .qt-menubar ul.qt-desktopmenu > li:hover {
          z-index: 300; }
          .qt-menubar ul.qt-desktopmenu > li:hover::after, .qt-menubar ul.qt-desktopmenu > li:hover > a::after, .qt-menubar ul.qt-desktopmenu > li:hover > a::before {
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            opacity: 1; }
        .qt-menubar ul.qt-desktopmenu > li > ul {
          position: fixed;
          top: -2000px;
          display: block;
          margin-top: -1px;
          width: 230px;
          right: 2px;
          opacity: 0;
          margin-top: 30px;
          -webkit-transition: opacity 0.25s, margin 0.25s;
          transition: opacity 0.25s, margin 0.25s; }
          .qt-menubar ul.qt-desktopmenu > li > ul li {
            display: block;
            width: 100%;
            position: relative; }
            .qt-menubar ul.qt-desktopmenu > li > ul li::after {
              display: block;
              position: absolute;
              content: " ";
              right: 0;
              top: 0;
              width: 2%;
              height: 100%;
              z-index: 1;
              -webkit-transition: width 0.15s ease;
              transition: width 0.15s ease;
              will-change: width; }
            .qt-menubar ul.qt-desktopmenu > li > ul li a {
              display: block;
              text-align: right;
              line-height: 1.2;
              padding: 0.7rem  1rem;
              position: relative;
              z-index: 2; }
              .qt-menubar ul.qt-desktopmenu > li > ul li a:hover {
                color: #fff; }
            .qt-menubar ul.qt-desktopmenu > li > ul li > ul {
              position: absolute;
              display: block;
              margin-top: 0px;
              width: 230px;
              border-top: none;
              top: -1000px;
              left: -230px;
              margin: 40px 0px 0px 0px;
              opacity: 0;
              -webkit-transition: opacity 0.3s, margin 0.3s;
              transition: opacity 0.3s, margin 0.3s;
              -webkit-transition-delay: 0.05s;
                      transition-delay: 0.05s; }
            .qt-menubar ul.qt-desktopmenu > li > ul li:hover::after {
              width: 100%; }
            .qt-menubar ul.qt-desktopmenu > li > ul li:hover > ul {
              top: 0;
              margin: 0px 0px 0px 0px;
              opacity: 1; }
          .qt-menubar ul.qt-desktopmenu > li > ul::after {
            display: block;
            clear: both;
            width: 100%; }
        .qt-menubar ul.qt-desktopmenu > li::after {
          display: block;
          clear: both;
          width: 100%; }
        .qt-menubar ul.qt-desktopmenu > li:hover > ul {
          position: absolute;
          display: block;
          opacity: 1;
          margin-top: 0px;
          top: 100%; }
    .qt-menubar ul.qt-menu-secondary {
      height: 70px;
      text-align: right;
      padding: 0;
      position: relative;
      -webkit-transition: height 0.3s ease;
      transition: height 0.3s ease;
      -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s;
      will-change: height;
      overflow: hidden;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
      .qt-menubar ul.qt-menu-secondary li {
        padding-top: 19px; }
    .qt-menubar.qt-menubar-center {
      padding-top: 20px; }
      .qt-menubar.qt-menubar-center ul.qt-desktopmenu {
        text-align: center;
        line-height: 40px;
        min-height: 40px;
        margin-left: -1rem;
        margin-bottom: 8px;
        padding: 0 26px 5px 26px;
        box-sizing: content-box; }
        .qt-menubar.qt-menubar-center ul.qt-desktopmenu.qt-desktopmenu-scr {
          padding-bottom: 10px;
          padding-top: 10px; }
        .qt-menubar.qt-menubar-center ul.qt-desktopmenu > li, .qt-menubar.qt-menubar-center ul.qt-desktopmenu > li > a {
          line-height: 40px;
          height: 40px; }
        .qt-menubar.qt-menubar-center ul.qt-desktopmenu > li.qt-menuitem:first-child > a {
          margin-left: 0; }
        .qt-menubar.qt-menubar-center ul.qt-desktopmenu > li.qt-menuitem > a::after {
          top: 22px; }
      .qt-menubar.qt-menubar-center ul.qt-menu-secondary {
        height: 100px;
        text-align: center; }
        .qt-menubar.qt-menubar-center ul.qt-menu-secondary li {
          height: 100px;
          padding-top: 0;
          line-height: 100px;
          -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s; }
          .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-centerlogo {
            height: 100px;
            vertical-align: middle;
            display: inline-block;
            float: left;
            width: 19%;
            margin: 0; }
            .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-centerlogo span {
              display: table;
              width: 100%; }
            .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-centerlogo a {
              display: table-cell;
              height: 100px;
              vertical-align: middle;
              padding: 0;
              box-sizing: border-box; }
            .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-centerlogo img {
              max-height: 100px;
              width: auto;
              display: inline;
              vertical-align: middle; }
          .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-3dswitch {
            width: 40%;
            float: left; }
            .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-3dswitch a {
              height: 100px;
              line-height: 100px;
              padding: 0;
              text-align: left; }
              .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-3dswitch a i {
                padding: 0; }
          .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-soc-count {
            float: right; }
            .qt-menubar.qt-menubar-center ul.qt-menu-secondary li.qt-soc-count a span {
              opacity: 1;
              letter-spacing: 0.05em; }
      .qt-menubar.qt-menubar-center .qt-breadcrumb {
        text-align: center;
        -webkit-transition: height 0.1s;
        transition: height 0.1s;
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s; }
  #qtBody.skrollable-after .qt-menubar .qt-menubg-color {
    opacity: 1; }
  #qtBody.skrollable-after .qt-menubar .qt-menu-secondary {
    height: 0px; }
  #qtBody.skrollable-after .qt-breadcrumb {
    height: 0px; }
  /* Fixed header
	========================================================================== */
  .qt-parentcontainer {
    position: relative; }
    .qt-parentcontainer .qt-menubar {
      position: fixed;
      top: 0;
      z-index: 301; }
  .qt-parentcontainer.qt-header-transparent {
    padding-top: 0; }
    .qt-parentcontainer.qt-header-transparent .qt-menubar {
      -webkit-transition: background 0.5s, padding 0.3s;
      transition: background 0.5s, padding 0.3s;
      padding: 5px 70px; }
    .qt-parentcontainer.qt-header-transparent.qt-notscrolled .qt-menubar {
      padding: 25px 70px;
      background-color: transparent !important; }
  .qt-template-page-visualcomposer .qt-parentcontainer {
    padding-top: 0; }
  /* Main container
	========================================================================== */
  .qt-parentcontainer .qt-main {
    padding: 200px 0 0 0; }
    .qt-parentcontainer .qt-main.qt-page-visualcomposer {
      padding-top: 0; }
  .qt-body-menu-center .qt-parentcontainer .qt-main {
    padding: 220px 0 0 0; }
  .qt-body-menu-center .qt-parentcontainer .qt-main.qt-page-visualcomposer {
    padding-top: 0; }
  .qt-body-menu-center .qt-parentcontainer .qt-pageheader-std {
    padding-top: 100px; }
  /* Countdown
	========================================================================== */
  .qt-countdown {
    font-size: 1.8rem;
    line-height: inherit;
    vertical-align: inherit;
    padding: 0 10px;
    margin: 1rem 0; }
    .qt-countdown span {
      line-height: 1.8em;
      top: 0.1em;
      font-size: 10px; }
  /* 3D
	========================================================================== */
  .qt-parentcontainer {
    -webkit-perspective-origin: 0% 40%;
            perspective-origin: 0% 40%;
    -webkit-transition: -webkit-perspective 0.3s;
    transition: -webkit-perspective 0.3s;
    transition: perspective 0.3s;
    transition: perspective 0.3s, -webkit-perspective 0.3s; }
  .qt-3dfx {
    -webkit-transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s;
    transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s;
    transition: transform 0.3s ease, filter 0.3s;
    transition: transform 0.3s ease, filter 0.3s, -webkit-transform 0.3s ease, -webkit-filter 0.3s;
    -webkit-filter: brightness(1);
            filter: brightness(1); }
  .qt-3dfx-on {
    overflow: hidden;
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5); }
  .qt-3dfx-on-IE {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  .qt-body-3dfx-on-IE, .qt-body-3dfx-on {
    height: 100vh;
    overflow: hidden; }
  .qt-layer-bottom {
    top: 200px;
    height: calc(100% - 200px); }
    .qt-layer-bottom > div {
      padding-bottom: 80px; }
    .qt-layer-bottom.active {
      left: 0%; }
  /* Admin bar fixes
	========================================================================== */
  #qtBody.admin-bar {
    top: 0; }
    #qtBody.admin-bar .qt-parentcontainer {
      padding-top: 0; }
    #qtBody.admin-bar.qt-body-3dfx-on .qt-parentcontainer .qt-menubar {
      top: 0; }
  /* Related
	========================================================================== */
  .qt-related .qt-related-item {
    margin-bottom: 0; }
  /* Related
	========================================================================== */
  .qt-vc_verticalmenu {
    position: fixed;
    display: table;
    height: 100%;
    height: 80vh;
    top: 10%;
    top: 10vh;
    right: 10px;
    width: 30px;
    z-index: 1000; }
    .qt-vc_verticalmenu ul {
      display: table-cell;
      vertical-align: middle; }
      .qt-vc_verticalmenu ul li {
        margin: 10px 0; }
        .qt-vc_verticalmenu ul li a {
          height: 36px;
          padding: 0 0;
          line-height: 36px;
          font-size: 13px;
          position: relative;
          display: block;
          color: inherit;
          white-space: nowrap; }
          .qt-vc_verticalmenu ul li a::after {
            position: relative;
            display: inline-block;
            width: 25px;
            content: " ";
            border-bottom: 4px solid #fff;
            border-color: inherit;
            height: 1px;
            top: -2px; }
          .qt-vc_verticalmenu ul li a span {
            position: absolute;
            right: 100%;
            margin-right: 10px;
            text-align: right;
            vertical-align: middle;
            top: 7px;
            width: 0px;
            -webkit-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
            -webkit-transition-delay: 0.08s;
                    transition-delay: 0.08s;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            padding-right: 0px;
            opacity: 0;
            line-height: 22px;
            height: 22px;
            word-break: keep-all; }
          .qt-vc_verticalmenu ul li a:hover span {
            width: auto;
            padding: 0 6px;
            opacity: 1; }
  /**
	 * Inline events shortcode
	 */
  .qt-part-event-inline .qt-d {
    text-align: right;
    border-right: 1px dotted; }
    .qt-part-event-inline .qt-d span {
      text-align: right; }
  .qt-part-event-inline .qt-btn {
    margin-top: 0.8rem; }
  /**
	 * Inline events shortcode
	 */
  .qt-material-slider .slides li .qt-slidecaption .qt-txt {
    padding: 130px 70px 0 50px; }
  .qt-material-slider .indicators {
    text-align: center;
    bottom: 16px;
    display: none; }
  .qt-material-slider .qt-control-arrows {
    left: 50px;
    padding-left: 0;
    top: 70px; }
  .qt-container .qt-material-slider .qt-control-arrows {
    padding-left: 0;
    padding-top: 1rem; }
  .qt-template-page-visualcomposer .qt-vc-row-container > .vc_row > .wpb_column > .vc_column-inner > .wpb_wrapper > .qt-material-slider .slides li .qt-slidecaption .qt-txt {
    padding-top: 250px; }
  .qt-template-page-visualcomposer .qt-vc-row-container > .vc_row > .wpb_column > .vc_column-inner > .wpb_wrapper > .qt-material-slider .qt-control-arrows {
    top: 210px;
    left: 50px; }
  .qt-template-page-visualcomposer .qt-vc-row-container .vc_row .wpb_column .qt-container .vc_column-inner .wpb_wrapper .qt-material-slider .slides li .qt-slidecaption .qt-txt {
    padding-top: 110px; }
  .qt-template-page-visualcomposer .qt-vc-row-container .vc_row .wpb_column .qt-container .vc_column-inner .wpb_wrapper .qt-material-slider .qt-control-arrows {
    top: 70px; }
  .qt-footer-bottom {
    padding: 2.5rem 0; }
    .qt-footer-bottom .qt-copyright-text, .qt-footer-bottom .qt-menu-footer {
      text-align: right; }
    .qt-footer-bottom .qt-menu-footer li {
      padding: 0 0 0 0.2rem; }
  /**
	 *  leave a space on the left of the footer menu for the play button if the player plugin is installed
	 */
  .qt-mplayer__btnspacer {
    display: inline-block; }
  /* * Perspective card
	========================================= */
  .qt-perspectivecard-wrapper {
    min-height: 500px;
    height: 100vh; }
  .qt-perspectivecard__cover {
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px;
    max-width: 100%; }
  ul.qt-side-nav.qt-menu-offc > li {
    padding: 0.7rem 0; }
    ul.qt-side-nav.qt-menu-offc > li > a {
      font-size: 2.827rem; }
  ul.qt-side-nav.qt-menu-offc > li.menu-item-has-children .qt-openthis {
    top: 1.7rem;
    font-size: 2rem; } }

@media only screen and (min-width: 1420px) {
  .qt-container-l {
    padding: 0 70px; }
  .qt-menubar ul.qt-desktopmenu {
    padding: 0 70px; }
  .qt-vc_verticalmenu {
    right: 70px; }
  .qt-menubar ul.qt-desktopmenu > li > a.qt-logo-link {
    padding-left: 0; }
  .qt-material-slider .slides li .qt-slidecaption .qt-txt {
    padding: 130px 70px 0 70px; }
  .qt-container .qt-material-slider .qt-control-arrows {
    left: 70px; }
  .qt-template-page-visualcomposer .qt-vc-row-container > .vc_row > .wpb_column .vc_column-inner .wpb_wrapper .qt-material-slider .qt-control-arrows {
    left: 70px; }
  .qt-template-page-visualcomposer .qt-vc-row-container .vc_row .wpb_column .qt-container .vc_column-inner .wpb_wrapper .qt-material-slider .slides li .qt-slidecaption .qt-txt {
    padding-top: 110px; }
  .qt-template-page-visualcomposer .qt-vc-row-container .vc_row .wpb_column .qt-container .vc_column-inner .wpb_wrapper .qt-material-slider .qt-control-arrows {
    left: 70px;
    top: 70px; } }
/*# sourceMappingURL=qt-desktop.css.map */