body, html { font-size: 16px; line-height: 1.9em; font-family: 'Open Sans', sans-serif; text-rendering: geometricPrecision; }

p strong, li strong, table strong { font-weight: 700; }

h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; font-weight: 700; letter-spacing: -0.03em; }

.qt-desktopmenu, .qt-side-nav, .qt-menu-footer, .qt-capfont, .qt-details, .qt-capfont-thin, .qt-btn, .qt-item-metas { font-family: 'Montserrat', sans-serif; font-weight: 700; text-transform: uppercase; font-size: 13px; letter-spacing: 0.03em; }
/*# sourceMappingURL=qt-typography.css.map */