/** Custom CSS for WooCommerce support */
#qtBody { /** Products archive ============================================= */ /** Product tabs ============================================= */ /** Gallery ============================================= */ /** Comment form ============================================= */ /** Attributes ============================================= */ /** pagination ============================================= */ /** Sale icon ============================================= */ /** Account ============================================= */ /** Cart ============================================= */ /* Cart end */ /** WooCommerce added to cart NEW */ /** */ /* WidgetS */ }

#qtBody .qt-the-content ul.products { margin: 0; }

#qtBody .qt-woocommerce-nomargin-titles { padding: 0; margin: 0; }

#qtBody .woocommerce-product-details__short-description { padding: 1.5rem 0 2.8rem 0; }

#qtBody .qt-prod-thumb { padding-top: 100%; position: relative; overflow: hidden; }

#qtBody .qt-prod-thumb img { opacity: 0; position: absolute; top: 0; left: 0; max-width: 100%; }

#qtBody table { border: none; border-bottom: 1px solid; }

#qtBody table td, #qtBody table th { border-color: inherit; }

#qtBody .product h2 { margin: 0.6em 0 0.3em 0; }

#qtBody ul.products li.product { padding: 0rem; border-radius: 4px; overflow: hidden; text-align: center; padding-bottom: 30px; }

#qtBody .qt-woocommerce-tabs-container { clear: both; }

#qtBody .woocommerce-tabs ul.tabs.wc-tabs { width: 100% !important; background: none transparent; border: none; padding: 0; margin: 0 0 20px 0; border-bottom: 1px solid #ccc; height: 2.25rem; }

#qtBody .woocommerce-tabs ul.tabs.wc-tabs li { border-radius: 0; border: none; height: 2.25rem; line-height: 2.25rem; padding: 0; }

#qtBody .woocommerce-tabs ul.tabs.wc-tabs li a { padding: 0 1.5rem; display: inline-block; }

#qtBody .woocommerce-tabs ul.tabs.wc-tabs li::before, #qtBody .woocommerce-tabs ul.tabs.wc-tabs li::after { display: none; }

#qtBody .woocommerce-tabs ul.tabs.wc-tabs li:hover a { color: #fff; }

#qtBody .woocommerce-tabs ul.tabs.wc-tabs::before, #qtBody .woocommerce-tabs ul.tabs.wc-tabs::after, #qtBody .woocommerce-tabs ul.tabs.wc-tabs .indicator { display: none; }

#qtBody #respond input#submit, #qtBody a.button, #qtBody button.button, #qtBody input.button { border-radius: 4px; }

#qtBody .button, #qtBody table.cart input { height: 2.25rem !important; line-height: 2.25rem !important; padding: 0 1rem; }

#qtBody a.button, #qtBody .woocommerce #respond input#submit, #qtBody .woocommerce a.button, #qtBody .woocommerce button.button, #qtBody .woocommerce input.button, #qtBody .woocommerce #respond input#submit, #qtBody .woocommerce a.button, #qtBody .woocommerce button.button, #qtBody .woocommerce input.button { cursor: pointer; display: inline-block; text-transform: uppercase; font-size: 13px; text-rendering: optimizeLegibility; position: relative; box-sizing: border-box; letter-spacing: 0.08em; border: none; border-radius: 4px; text-align: center; margin-top: 0; height: auto; line-height: 2.25rem !important; padding: 0 1rem; min-width: 2.25rem; min-height: 2.25rem !important; }

#qtBody input.qty { height: 2.25rem; width: 43px !important; padding-left: 2px !important; padding-right: 2px !important; }

#qtBody mark.count { background: transparent; color: inherit; }

#qtBody .woocommerce-variation-price { padding-bottom: 10px; }

#qtBody div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image a { display: block; -webkit-filter: brightness(100%); filter: brightness(100%); transition: -webkit-filter 0.2s; transition: filter 0.2s; transition: filter 0.2s, -webkit-filter 0.2s; }

#qtBody div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image a:hover { -webkit-filter: brightness(110%); filter: brightness(110%); }

#qtBody div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image a img { line-height: 1; display: block; overflow: hidden; }

#qtBody div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:nth-child(n+2) { display: block; float: left; }

#qtBody div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:nth-child(n+2) a { -webkit-filter: brightness(90%); filter: brightness(90%); }

#qtBody div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:nth-child(n+2) a:hover { -webkit-filter: brightness(110%); filter: brightness(110%); }

#qtBody .comment-form-rating label, #qtBody .comment-form-rating p.stars { display: inline; line-height: 2em; vertical-align: top; padding-right: 1rem; }

#qtBody .comment-form-rating p.stars a { vertical-align: text-top; }

#qtBody .comment-form textarea { min-height: 200px !important; }

#qtBody table.shop_attributes tr th, #qtBody table.shop_attributes tr td { border: none; border-top: 1px solid; }

#qtBody .qt-wc-pagination { width: 100%; margin-bottom: 90px; display: block; overflow: hidden; }

#qtBody .qt-wc-pagination ul { border: none; display: block; }

#qtBody .qt-wc-pagination ul li { border: none; padding: 0 5px 0 0; display: inline; }

#qtBody .qt-wc-pagination ul li a { border: none; }

#qtBody #respond input#submit.disabled, #qtBody #respond input#submit:disabled, #qtBody #respond input#submit:disabled[disabled], #qtBody a.button.disabled, #qtBody a.button:disabled, #qtBody a.button:disabled[disabled], #qtBody button.button.disabled, #qtBody button.button:disabled, #qtBody button.button:disabled[disabled], #qtBody input.button.disabled, #qtBody input.button:disabled, #qtBody input.button:disabled[disabled], #qtBody #add_payment_method .wc-proceed-to-checkout a.checkout-button, #qtBody .wc-proceed-to-checkout a.checkout-button, #qtBody .wc-proceed-to-checkout a.checkout-button { height: 2.25rem !important; line-height: 2.25rem !important; padding: 0 1rem; }

#qtBody .select2-dropdown, #qtBody .select2-results__options .select2-results__option, #qtBody .woocommerce select, #qtBody select, #qtBody .select2-container--default .select2-search--dropdown .select2-search__field { color: #000 !important; background: #fff !important; display: initial; }

#qtBody .select2-dropdown, #qtBody .select2-results__options .select2-results__option { display: block; }

#qtBody table.cart td.actions .coupon .input-text { width: auto !important; }

#qtBody .woocommerce [type="checkbox"]:not(:checked), #qtBody .woocommerce [type="checkbox"]:checked, #qtBody .woocommerce [type="radio"]:not(:checked), #qtBody .woocommerce [type="radio"]:checked { position: initial; left: 0; opacity: 1; }

#qtBody .woocommerce-Reviews [type="checkbox"]:not(:checked), #qtBody .woocommerce-Reviews [type="checkbox"]:checked, #qtBody .woocommerce-Reviews [type="radio"]:not(:checked), #qtBody .woocommerce-Reviews [type="radio"]:checked, #qtBody .wc_payment_methods [type="checkbox"]:not(:checked), #qtBody .wc_payment_methods [type="checkbox"]:checked, #qtBody .wc_payment_methods [type="radio"]:not(:checked), #qtBody .wc_payment_methods [type="radio"]:checked { position: absolute; left: -9999px; opacity: 0; }

#qtBody .woocommerce-Reviews ol.commentlist { padding-top: 1.9rem; }

#qtBody .woocommerce-Reviews ol.commentlist li { list-style: none; }

#qtBody .woocommerce-checkout-payment ul li { list-style: none; }

#qtBody ul li.woocommerce-notice { padding-left: 50px !important; }

#qtBody #payment { border-radius: 0; }

#qtBody label { font-size: 1rem; }

#qtBody form textarea { padding: 1.5rem; min-height: 5em; }

#qtBody form .form-row { padding: 0.5rem 0 1.5rem 0; }

#qtBody form fieldset { margin-bottom: 1rem; }

#qtBody .kentha-onsale-icon { /* width: 46px; height: 46px; min-width: 0; min-height: 0; line-height: 46px; text-align: center; border-radius: 4px; right:0; */ top: 3px; right: 3px; position: absolute; padding: 0.1em 0.4rem; text-transform: uppercase; display: inline-block; margin: 0 3px 4px 0; text-rendering: optimizeLegibility; letter-spacing: 0.02em; line-height: 1.5em; color: #fff; border-radius: 2px; vertical-align: baseline; }

#qtBody .kentha-onsale-icon i { line-height: inherit; }

#qtBody .woocommerce-MyAccount-navigation { display: table; clear: both; box-shadow: none; }

#qtBody .woocommerce-MyAccount-navigation ul { display: block; clear: both; width: 100%; padding: 0; }

#qtBody .woocommerce-MyAccount-navigation ul li { list-style: none; padding: 0; display: block; width: 100%; margin: 0; }

#qtBody #add_payment_method table.cart td.actions .coupon .input-text, #qtBody .woocommerce-cart table.cart td.actions .coupon .input-text, #qtBody .woocommerce-checkout table.cart td.actions .coupon .input-text { border: none; }

#qtBody #add_payment_method #payment, #qtBody .woocommerce-cart #payment, #qtBody .woocommerce-checkout #payment { background: rgba(1, 1, 1, 0.5); }

#qtBody table.shop_table td, #qtBody table.shop_table th { padding: 1rem 0; }

#qtBody table.shop_table .product-remove { text-align: center; }

#qtBody table.shop_table .product-remove a { display: inline-block; }

#qtBody .select2-results__option { color: #000; }

#qtBody .select2-search__field { color: #000 !important; }

#qtBody .select2-container--default .select2-selection--single .select2-selection__rendered, #qtBody .select2-container .select2-selection--single { line-height: 2.3rem; height: 2.3rem; }

#qtBody .wpmenucart-contents i { vertical-align: baseline; line-height: 1; top: 0; font-size: 1.4em; display: inline; margin-right: 3px; }

#qtBody .ajax_add_to_cart.added { display: none; }

#qtBody .qtmusicplayer-trackitem .added_to_cart.wc-forward, #qtBody .qt-mplayer__controls .added_to_cart.wc-forward, #qtBody .qt-kentharadio-chart-table .added_to_cart.wc-forward, #qtBody .qt-thumbactions .added_to_cart.wc-forward { font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; /* Preferred icon size */ display: inline-block; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; content: ' '; color: transparent; /* Support for all WebKit browsers. */ -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */ text-rendering: optimizeLegibility; /* Support for Firefox. */ -moz-osx-font-smoothing: grayscale; /* Support for IE. */ -webkit-font-feature-settings: 'liga'; font-feature-settings: 'liga'; position: relative; display: inline-block; width: 2.4rem; height: 2.4rem; text-align: center; line-height: 35px; float: left; }

#qtBody .qtmusicplayer-trackitem .added_to_cart.wc-forward:after, #qtBody .qt-mplayer__controls .added_to_cart.wc-forward:after, #qtBody .qt-kentharadio-chart-table .added_to_cart.wc-forward:after, #qtBody .qt-thumbactions .added_to_cart.wc-forward:after { content: '\e5ca'; position: absolute; top: 0; left: 0; color: #76FF03; }

#qtBody .qtmusicplayer-trackitem { list-style: none !important; }

#qtBody .qtmusicplayer-trackitem .added_to_cart.wc-forward { width: 68px; height: 68px; text-align: center; line-height: 68px; }

#qtBody .qtmusicplayer-trackitem .added_to_cart.wc-forward:after { width: 100%; }

#qtBody .qtmusicplayer-trackitem .qt-cart.loading { opacity: 0.4; }

#qtBody .add_to_cart_inline { border: none !important; padding: 0 !important; }

#qtBody .add_to_cart_inline a { margin-left: 1rem; }

#qtBody .qt-kentharadio-action .added_to_cart.wc-forward { float: right !important; }

#qtBody ul.cart_list, #qtBody ul.product_list_widget { display: block; overflow: hidden; padding-bottom: 8px; }

#qtBody ul.cart_list li, #qtBody ul.product_list_widget li { position: relative; width: 100%; padding-top: 10px !important; padding-bottom: 10px !important; border-top: 1px solid rgba(100, 100, 100, 0.3) !important; }

#qtBody ul.cart_list li img, #qtBody ul.product_list_widget li img { width: 40px; padding: 0; }

#qtBody ul.cart_list li a, #qtBody ul.cart_list li .quantity, #qtBody ul.product_list_widget li a, #qtBody ul.product_list_widget li .quantity { line-height: 1.2em; }

#qtBody ul.cart_list li .quantity, #qtBody ul.product_list_widget li .quantity { opacity: 0.7; }

#qtBody ul.cart_list li a.remove, #qtBody ul.product_list_widget li a.remove { top: 8px !important; padding: 0; line-height: 18px; }

#qtBody .qt-search-inline { display: table; width: 100%; }

#qtBody .qt-search-inline input, #qtBody .qt-search-inline button { display: table-cell; float: left; height: 2.4rem; line-height: 2.4rem; }

#qtBody .qt-search-inline input { width: calc(100% - 64px) !important; }

#qtBody .qt-search-inline button { width: 64px; }

#qtBody .price_slider_wrapper { padding: 1rem 0; }

#qtBody .price_slider_wrapper .price_slider_amount { padding-top: 10px; }

#qtBody .price_slider_wrapper .price_label, #qtBody .price_slider_wrapper button { line-height: 2rem !important; height: 2rem !important; }

#qtBody.woocommerce #respond input#submit.loading::after, #qtBody.woocommerce a.button.loading::after, #qtBody.woocommerce button.button.loading::after, #qtBody.woocommerce input.button.loading::after { top: 0; right: 0.2em; }

/* Global classes */
ul.woocommerce-error { margin-left: 0 !important; }

@media only screen and (min-width: 1201px) { #qtBody .qt-mplayer__controls .qt-mplayer__cart.ajax_add_to_cart.added { display: inline-block; }
  #qtBody .qt-mplayer__controls .qt-mplayer__cart.ajax_add_to_cart.added i { display: none; }
  #qtBody .qt-mplayer__controls .added_to_cart.wc-forward { float: left; position: relative; top: 0; left: -60px; margin-right: -61px; width: 60px; text-align: center; }
  #qtBody .qt-mplayer__controls .added_to_cart.wc-forward::after { width: 60px; height: 60px; line-height: 60px; float: left; } }
/*# sourceMappingURL=qt-woocommerce.css.map */