@charset "UTF-8";

@font-face {
  font-family: "qt-socicon";
  src:url("fonts/qt-socicon.eot");
  src:url("fonts/qt-socicon.eot?#iefix") format("embedded-opentype"),
    url("fonts/qt-socicon.woff") format("woff"),
    url("fonts/qt-socicon.ttf") format("truetype"),
    url("fonts/qt-socicon.svg#qt-socicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "qt-socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="qt-socicon-"]:before,
[class*=" qt-socicon-"]:before {
  font-family: "qt-socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qt-socicon-android:before {
  content: "\31";
}
.qt-socicon-reddit:before {
  content: "\32";
}
.qt-socicon-amazon:before {
  content: "\33";
}
.qt-socicon-beatmusic:before {
  content: "\34";
}
.qt-socicon-beatport:before {
  content: "\35";
}
.qt-socicon-digg:before {
  content: "\36";
}
.qt-socicon-djtunes:before {
  content: "\37";
}
.qt-socicon-facebook:before {
  content: "\38";
}
.qt-socicon-flickr:before {
  content: "\39";
}
.qt-socicon-googleplus:before {
  content: "\30";
}
.qt-socicon-instagram:before {
  content: "\71";
}
.qt-socicon-itunes:before {
  content: "\77";
}
.qt-socicon-juno:before {
  content: "\65";
}
.qt-socicon-lastfm:before {
  content: "\72";
}
.qt-socicon-linkedin:before {
  content: "\74";
}
.qt-socicon-tumblr:before {
  content: "\79";
}
.qt-socicon-trackitdown:before {
  content: "\75";
}
.qt-socicon-stumbleupon:before {
  content: "\69";
}
.qt-socicon-spotify:before {
  content: "\6f";
}
.qt-socicon-soundcloud:before {
  content: "\70";
}
.qt-socicon-snapchat:before {
  content: "\61";
}
.qt-socicon-skype:before {
  content: "\73";
}
.qt-socicon-rss:before {
  content: "\64";
}
.qt-socicon-reverbnation:before {
  content: "\66";
}
.qt-socicon-residentadvisor:before {
  content: "\67";
}
.qt-socicon-pinterest:before {
  content: "\68";
}
.qt-socicon-myspace:before {
  content: "\6a";
}
.qt-socicon-mixcloud:before {
  content: "\6b";
}
.qt-socicon-tunein:before {
  content: "\6c";
}
.qt-socicon-twitter:before {
  content: "\7a";
}
.qt-socicon-vimeo:before {
  content: "\2e";
}
.qt-socicon-vk:before {
  content: "\63";
}
.qt-socicon-whatpeopleplay:before {
  content: "\76";
}
.qt-socicon-whatsapp:before {
  content: "\62";
}
.qt-socicon-wordpress:before {
  content: "\6e";
}
.qt-socicon-youtube:before {
  content: "\6d";
}
.qt-socicon-www:before {
  content: "\2c";
}
.qt-socicon-link:before {
  content: "\78";
}
.qt-socicon-hearthis:before {
  content: "\41";
}
.qt-socicon-kuvo:before {
  content: "\42";
}
.qt-socicon-blogger:before {
  content: "\43";
}
