@charset "utf-8";
/* CSS Document */
table.eventtable {
	font-size: 1.5em;	
}


.eventcomments #fb-comments, 
.eventcomments .fb_iframe_widget, 
.eventcomments .fb_iframe_widget span, 
.eventcomments .fb_iframe_widget span iframe, 
.eventcomments .fb_iframe_widget iframe[style] {
 width: 100% !important;
}
